@media only screen and (min-width: 1920px){   
    .top-carousel{
        height: 100vh !important;
    }
    .carousel-caption{
        bottom: 30% !important;
    }
    .carousel-caption > h2{
        font-size: 64px !important;
    }
    .carousel-caption > span{
        font-size: 64px !important;
    }
    .carousel-caption > p{
        font-size: 16px !important;
        width: 30% !important;
        margin-bottom: 3% !important;
    }
    .store > a{
        margin-right: 2% !important;
    }
    .play{
        width: 250px !important;
    }
    .navbar-light .navbar-nav .nav-link{
        font-size: 16px !important;
    }
    .btn-download{
        font-size: 16px !important;
    }
    .top-indicators{
        left: -72% !important;
        bottom: 14% !important;
    }
    .features{
        padding-bottom: 2% !important;
    }
    .vertical-text{
        font-size: 20px !important;
    }
    .feature-content p{
        font-size: 20px !important;
    }
    .bgcolor.scrolled {
        height: 9% !important;
    }
    .main-content{
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
    .work-content-left > h2{
        font-size: 40px !important;
    }
    .work-content-left-reverse > h2{
        font-size: 40px !important;
    }
    .main-content > p{
        font-size: 20px !important;
    }
    .explore{
        width: 75% !important;
    }
    .app-style h1{
        font-size: 60px !important;
    }
    .app-style p{
        font-size: 16px !important;
    }
    .app-btn h4{
        font-size: 28px !important;
    }
    .bar{
        width: 75px !important;
    }
    .middle-img{
        height: 750px !important;
    }
    .cities-name{
        top: 15% !important;
        left: 16% !important;
    }
    .cities-name1{
        top: 36% !important;
        left: 16% !important;
    }
    .cities-name2{
        bottom: 34.5% !important;
        left: 16% !important;
    }
    .cities-name3{
        bottom: 13% !important;
        left: 16% !important;
    }
    .cities-name4{
        top: 15% !important;
        right: 16% !important;
    }
    .cities-name5{
        top: 35.5% !important;
        right: 16% !important;
    }
    .cities-name6{
        bottom: 34.5% !important;
        right: 16% !important;
    }
    .cities-name7{
        bottom: 13.5% !important;
        right: 16% !important;
    }
    .city{
        font-size: 26px !important;
    }
    .number{
        font-size: 26px !important;
    }
    .touch{
        padding: 6% 20% 8% 10%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .touch-content h2{
        font-size: 40px !important;
    }
    .touch-content p{
        font-size: 20px !important;
    }
    .box{
        width: 50% !important;
    }
    .last-carousel{
        height: 78vh !important;
    }
    .last-content{
        padding-left: 30% !important;
        padding-right: 30% !important;
    }
    .last-content > h1{
        font-size: 40px !important;
        margin-bottom: 4% !important;
    }
    .last-content > p{
        font-size: 20px !important;
    }
    .last-content-img{
        width: 60% !important;
        top: 20% !important;
        left: 22% !important;
    }
    .last-indicators{
        bottom: -10% !important;
    }
    .end-banner p{
        margin-top: 4% !important;
        margin-left: 0% !important;
        margin-bottom: 4% !important;
        font-size: 18px !important;
    }
    .top-icon{
        top: 23.5% !important;
        right: 13% !important;
    }
    .footer{
        font-size: 21px !important;
    }
}

@media only screen and (max-width: 600px) {
    .carousel{
        overflow: hidden;
    }
    .top-carousel{
        height: 120vh;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
        min-height: 300px;
    }
    .navbar.scrolled{
        color: #9B3189;
    }
    .navbar-brand-desktop{
        display: none;
    }
    .logo{
        display: none;
    }
    .login-mobile{
        display: block;
    }
    .mobile-logo-top{
        display: block;
    }
    .navbar{
        padding: 4% 3%;
    }
    .desktop-carousel-background{
        display: none !important;
    }
    .mobile-carousel-background{
        display: block;
        height: 120vh;
    }
    .carousel-caption{
        top: 8%;
        text-align: center;
        left: 10%;
        right: 10%;
    }
    .carousel-caption > h2{
        font-family: metropolis-medium;
        font-size: 21px;
    }
    .carousel-caption > span{
        font-size: 21px;
    }
    .carousel-caption > p{
        font-size: 10px;
        width: 100%;
        margin-bottom: 8%;
        margin-top: 5%;
    }
    .store{
        display: none;
    }
    .store-mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .top-indicators{
        left: 0%;
        bottom: 1%;
    }
    .features{
        background-image: none;
        background-color: #F5F5FA;
        padding-top: 15%;
        padding-bottom: 10%;
        overflow: hidden;
    }
    .feature-main{
        padding-left: 8% !important;
        padding-right: 8% !important;
    }
    .vertical-text{
        top: 11.5%;
        left: 6%;
        font-size: 12px;
        font-family: metropolis-medium;
    }
    .feature-content{
        align-items: center;
        text-align: center;
    }
    .desktop-feature{
        display: none;
    }
    .mobile-feature{
        display: block;
    }
    .feature-content img{
        width: 50%;
    }
    .mobile-res{
        display: flex;
        margin-top: 5%;
    }
    .badge-feature{
        position: absolute;
        top: -2%;
        left: 5%;
        width: 10%;
    }
    .desktop-main-content{
        display: none;
    }
    .mobile-main-content{
        display: block;
    }
    .works{
        padding-top: 10%;
        padding-bottom: 10%;
        overflow: hidden;
    }
    .main-content{
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 4%;
    }
    .main-content > h1{
        font-family: metropolis-bold;
        font-size: 27px;
        margin-bottom: 7%;
    }
    .main-content > p{
        font-size: 14px;
        margin-bottom: 10%;
    }
    .work-content-left {
        text-align: center;
    }
    .work-content-left > h2{
        font-family: metropolis-semi-bold;
        margin-bottom: 5%;
        font-size: 16px;
    }
    .work-content-left > p{
        color: #7E7C7C;
        font-size: 12px;
        width: 100%;
    }
    .mobile-flex{
        flex-direction: column-reverse;
    }
    .work-content-left-reverse{
        width: 100%;
        text-align: center;
    }
    .work-content-left-reverse > h2{
        font-family: metropolis-semi-bold;
        margin-bottom: 5%;
        font-size: 16px;
    }
    .work-content-left-reverse > p{
        color: #7E7C7C;
        font-size: 12px;
        width: 100%;
    }
    .first-image{
        right: 0%;
    }
    .second-image{
        top: 40%;
        right: 65%;
    }
    .app{
        background-image: url(../assets/Group\ 79334@2x.png);
        padding: 10% 13% 110% 13%;
        text-align: center;
        overflow: hidden;
    }
    .app-style{
        width: 100%;
    }
    .app-style h1{
        font-size: 20px;
        font-family: metropolis-semi-bold;
        margin-bottom: 5%;
    }
    .app-style p{
        font-size: 10px;
        color: #7A7E8B;
    }
    .desktop-app{
        display: none !important;
    }
    .mobile-app{
        display: block;
    }
    .app-btns{
        display: flex;
        justify-content: space-evenly;
    }
    .app-btn h4{
        color: #532280;
        font-size: 15px;
    }
    .mac-store{
        margin-left: 0%;
    }
    .pad{
        padding-left: 8%;
        padding-right: 8%;
    }
    #city{
        padding-top: 0 !important;
        position: relative;
        overflow: hidden;
    }
    .cities-content{
        padding-left: 5%;
        padding-right: 5%;
    }
    .bar{
        width: 11%;
    }
    .desktop-middle-img{
        display: none !important;
    }
    .mobile-middle-img{
        display: block;
        position: absolute;
        top: 9%;
    }
    .middle-img{
        display: none !important;
    }
    .cities-name{
        top: 11%;
        left: 17%;
    }
    .cities-name1{
        top: 34.3%;
        left: 17%;
    }
    .cities-name2{
        bottom: 32.5%;
        left: 17%;
    }
    .cities-name3{
        bottom: 9.5%;
        left: 17%;
    }
    .cities-name4{
        top: 11%;
        right: 17%;
    }
    .cities-name5{
        top: 34.3%;
        right: 17%;
    }
    .cities-name6{
        bottom: 32.5%;
        right: 17%;
    }
    .cities-name7{
        bottom: 9.5%;
        right: 17%;
    }
    .city{
        font-size: 12px;
    }
    .number{
        font-size: 12px;
    }
    .touch{
        background-image: url(../assets/Mask\ Group\ 533@2x.png);
        padding: 13% 5% 70% 5%;
        margin: 0% 0% 3.2% 0%;
        text-align: center;
        overflow: hidden;
    }
    .touch-content{
        width: 100%;
    }
    .touch-content h2{
        margin-bottom: 7%;
        font-family: metropolis-bold;
        font-size: 27px;
    }
    .touch-content p{
        font-size: 14px;
        margin-bottom: 9%;
    }
    .box{
        width: 100%;
    }
    .box > img {
        width: 12%;
    }
    .box > input{
        height: 30px;
        font-size: 13px;
    }
    .btn-submit{
        font-size: 10px;
        padding-top: 3%;
    }
    .last-carousel{
        margin: 10% 0;
        height: 50vh;
        transition: none;
    }
    .last-content{
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 3%;
    }
    .last-content > h1{
        font-family: metropolis-bold;
        font-size: 27px;
        margin-bottom: 7%;
    }
    .last-content > p{
        font-size: 14px;
    }
    .last-content-img{
        width: 90%;
        top: 45%;
        left: 4%;
        right: 4%;
    }
    .last-indicators{
        bottom: -1%;
    }
    .last-indicators [data-bs-target]{
        background-color: #9B3189;
    }
    .end-banner{
        background-image: url(../assets/Mask\ Group\ 536@2x.png);
        padding: 15% 0% 5% 0%;
        overflow: hidden;
    }
    .mobile-logo1{
        width: 20% !important;
    }
    .end-banner p{
        font-size: 14px;
        font-family: metropolis-medium;
        margin-top: 8%;
    }
    .top-icon{
        display: none;
    }
    .mobile-social{
        padding-top: 3% !important;
    }
    .social-icons{
        width: 70%;
    }
    .footer{
        margin-top: 5%;
        opacity: 63%;
        font-size: 11px;
    }
}

@media only screen and (max-width: 600px) and (max-height: 640px){
    .last-carousel{
        height: 62vh;
    }
}

@media only screen and (max-width: 600px) and (max-height: 750px){
    .last-carousel{
        height: 63vh;
    }
}

@media only screen and (max-width: 600px) and (max-height: 1000px){
    .last-carousel{
        height: 60vh;
    }
}