*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: metropolis-regular;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: metropolis-regular;
    src: url(../Fonts/Poppins-Regular.ttf);
}

@font-face{
    font-family: metropolis-medium;
    src: url(../Fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: metropolis-bold;
    src: url(../Fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: metropolis-semi-bold;
    src: url(../Fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: metropolis-black;
    src: url(../Fonts/Poppins-Black.ttf);
}

@font-face {
    font-family: bebas-bold;
    src: url(../Fonts/BebasNeue\ Bold.ttf);
}

.logo{
    width: 170px;
}

.mobile-logo-top{
    display: none;
}

.top-carousel{
    height: 100vh;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}

.top-carousel > img{
    height: 100%;
    object-fit: fill;
}

.mobile-carousel-background{
    display: none;
}

.carousel-caption{
    bottom: 25%;
    text-align: left;
    left: 10%;
}

.carousel-caption > h2{
    font-size: 42px;
    color: #fff;
    margin-bottom: 0;
}

.carousel-caption > span{
    font-family: metropolis-bold !important;
    font-size: 42px;
    margin-bottom: 0.5%;
}

.carousel-caption > p{
    font-size: 14px;
    width: 36%;
    margin-bottom: 3%;
}

.store > a{
    margin-right: 2%;
}

.store-mobile{
    display: none;
}

.play{
    width: 180px;
}

.top-indicators{
    left: -70%;
    bottom: 8%;
}

.navbar{
    padding: 2% 6% 2% 9%;
}

.navbar .navbar-nav .active > .nav-link, .navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link.show{
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 0.5%;
}

.navbar .navbar-nav .nav-link{
    color: #fff;
    font-size: 14px;
    font-family: metropolis-medium;
}

.navbar .navbar-nav .nav-link:focus, .navbar .navbar-nav .nav-link:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 0.5%;
}

.bgcolor.scrolled {
    background-image: linear-gradient(#532280 ,#9B3189);
    transition: background 600ms linear;
    height: 12%;
}

.navbar.scrolled{
    color: #9B3189;
}

.login{
    color: #fff;
    font-size: 14px;
}

.login-mobile{
    display: none;
}

.features{
    background-image: url(../assets/Group\ 59364@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 5%;
    padding-bottom: 1.5%;
    position: relative;
}

.vertical-text{
    position: absolute;
    top: 35%;
    left: 10.5%;
    color: white;
    transform-origin: 0 0;
    transform: rotate(270deg);
}

.feature-main{
    display: flex;
    justify-content: space-evenly;
    padding-left: 12%;
}

.mobile-feature{
    display: none;
}

.feature-content{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.feature-content img{
    width: 30%;
}

.feature-content p{
    color: var(--download-hover);
    font-size: 18px;
    font-family: metropolis-medium;
    margin-top: 10%;
}

.badge-feature{
    position: absolute;
    top: -5%;
    left: 10%;
}

.works{
    background-image: url(../assets/How\ it\ works\ background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 5% 12% 8% 12%;
}

.main-content{
    text-align: center;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 8%;
}

.main-content > h1{
    color: #532280;
    font-family: metropolis-medium;
    font-size: 40px;
    margin-bottom: 2%;
}

.main-content > p{
    color: #532280;
}

.mobile-main-content{
    display: none;
}

.work-content-left > h2{
    color: #532280;
    font-family: metropolis-semi-bold;
    margin-bottom: 5%;
    font-size: 24px;
}

.work-content-left > p{
    color: #7A7E8B;
    width: 68%;
}

.work-content-left-reverse{
    float: right;
    text-align: end;
    width: 75%;
}

.work-content-left-reverse > h2{
    color: #532280;
    font-family: metropolis-semi-bold;
    margin-bottom: 5%;
    font-size: 24px;
}

.work-content-left-reverse > p{
    color: #7A7E8B;
}

.work-content-right{
    position: relative;
}

.custom-image{
    width: 100%;
}

.first-image{
    position: absolute;
    top: 15%;
    right: 0%;
    width: 34%;
}

.second-image{
    position: absolute;
    top: 40%;
    right: 62%;
    width: 34%;
}

.first-image-reverse{
    position: absolute;
    width: 34%;
    bottom: 28%;
    left: 61%;
}

.second-image-reverse{
    position: absolute;
    width: 60%;
    bottom: 38%;
    left: -15%;
}

.app{
    background-image: url(../assets/7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 12% 13%;
    position: relative;
}

.app-style{
    width: 50%;
}

.app-style h1{
    color: #532280;
    margin-bottom: 3%;
    font-size: 24px;
    font-family: metropolis-semi-bold;
}

.app-style p{
    color: #532280;
    font-size: 14px;
    margin-bottom: 5%;
}

.mobile-app{
    display: none;
}

.app-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app-btn h4{
    color: #532280;
    margin-bottom: 4%;
    font-size: 16px;
    font-family: metropolis-bold;
}

.mac-store{
    margin-left: 5%;
}

.pad{
    padding-bottom: 3%;
}

.touch{
    background-image: url(../assets/Group\ 71721.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 4% 15% 5% 6%;
    margin: 3% 2% 8% 2%;
    border-radius: 20px;
}

.touch-content{
    width: 35%;
}

.touch-content h2{
    color: white;
    margin-bottom: 5%;
    font-family: metropolis-semi-bold;
}

.touch-content p{
    color: white;
    margin-bottom: 12%;
}

.box{
    width: 50%;
    height: 5%;
    background-color: transparent;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 7px;
    border: 1px solid white;
}

.box > img{
    padding-left: 5%;
}

.box > input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
    background-color: transparent;
    color: white;
}

input::placeholder{
    color: white !important;
    opacity: 0.8;
}

.btn-submit{
    background-color: white;
    color: #532280;
    font-size: 14px;
    border-radius: 50px;
    padding-left: 6%;
    padding-right: 6%;
    margin-left: 10px;
    padding-top: 0%;
}

.mobile{
    display: none;
}

.last-carousel{
    position: relative;
    height: 87vh;
}

.last-content{
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    padding-bottom: 3%;
}

.last-content > h1{
    color: #532280;
    font-family: metropolis-medium;
    font-size: 35px;
}

.last-content > p{
    color: #532280;
}

.last-content-img{
    position: absolute;
    width: 50%;
    top: 23%;
    left: 25%;
}

.last-indicators{
    bottom: -12%;
}

.last-indicators [data-bs-target]{
    background-color: #9B3189;
}

.end-banner{
    background-image: url(../assets/Group\ 65398.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 3% 30% 3% 30%;
    text-align: center;
    position: relative;
    margin-top: 8%;
}

.end-banner p{
    color: white;
    margin-top: 3.5%;
    margin-left: 0.8%;
}

.top-icon{
    position: absolute;
    top: 5%;
    right: 13%;
    width: 1.5%;
}

.footer{
    font-family: metropolis-medium;
    color: #707070;
    text-align: center;
    margin-top: 1.2%;
}

.mobile-cities{
    display: none;
}